.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
input{
  width: 200px;
  padding: 12px;
  font-size: 16px;
}
.heading button{
  padding: 10px 20px;
  cursor: pointer;
  background-color: #8fa7be;
  border-radius: 10%;
}
body {
  margin: 0;
  background-color: rgb(36, 44, 69);
  align-items: center;
}
ul{
  list-style: none;
  padding: 0;
  margin: 55px auto;
  width: 2000px;
  align-items: center;
  border-radius: 8px;
  background-color: #c4cfd8;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 20px;
  width: 360px;
}
li{
  background-color: #8fa7be;
  color: rgb(17, 45, 74);
  width: 300px;
  padding: 20px;
  margin-bottom: 10px;
  margin-left: 8px;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
li button{
  background-color: rgb(36, 44, 69);
  align-self: end;
  cursor: pointer;
  border-radius: 10%;
  color: #8fa7be;
}